<form (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nombre:</label>
    <input type="text" [(ngModel)]="product.nombre" name="name" required>
  </div>

  <div>
    <label for="name">Descripcion:</label>
    <input type="text" [(ngModel)]="product.descripcion" name="descripcion" required>
  </div>


  <div>

    <label for="price">Precio:</label>
    <input type="number" [(ngModel)]="product.precio" name="precio" required>
  </div>
  <button type="submit">Agregar producto</button>
</form>