<nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/consultar-producto" routerLinkActive="active">Consultar Productos</a></li>
      <li><a routerLink="/agregar-producto" routerLinkActive="active">Agregar Producto</a></li>
      <li><a routerLink="/actualizar-producto" routerLinkActive="active">Actualizar Producto</a></li>
      <li><a routerLink="/eliminar-producto" routerLinkActive="active">Eliminar Producto</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>